<div class="modal fade overlay-model" tabindex="-1" role="dialog" aria-labelledby="trial-request">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3>
                    {{team.name}} ({{team.sport.name}})
                </h3>
                <h4>
                     Team  Players List
                </h4>
            </div>

            <div class="modal-body">
                <div class="players-list">
                    <table class="table">
                        <thead>
                        <th>
                            Photo
                        </th>

                        <th>
                            Name
                        </th>

                        <th>
                            Registration ID
                        </th>

                        <th>

                        </th>
                        </thead>

                        <tbody>

                        {{#team.players}}
                        <tr class="player">
                            <td>
                                <a target="_blank" href="/storage/{{user.image_uri}}">
                                    <div class="image-holder">
                                        <img src="/storage/{{user.image_uri}}" alt="">
                                    </div>
                                </a>
                            </td>

                            <td>
                                {{user.name}}
                            </td>

                            <td>
                                {{user.registration_id}}
                            </td>

                            <td>
                                <button class="btn btn-danger remove-player" data-id="{{id}}">Remove</button>
                            </td>
                        </tr>
                        </tbody>
                        {{/team.players}}

                    </table>
                </div>
            </div>

            <div class="modal-footer">
                <div class="col-xs-6 error pull-left">

                </div>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

