<div class="modal fade overlay-model" tabindex="-1" role="dialog" aria-labelledby="trial-request">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                This is Model Header
            </div>

            <div class="modal-body">
                This is model body
            </div>

            <div class="modal-footer">
                This is Model Footer
            </div>
        </div>
    </div>
</div>

