@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
*{
  font-family: 'Source Sans Pro', sans-serif;
}

html,body{
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
}

body{
  background-color: #F1EDEE;
}

.navbar{
  background-color:white;
  border-radius: 0px;
  margin: 0px;
}

@import "imports/global";
@import "imports/auth";
@import "imports/admin";
@import "imports/content";