.admin{
  padding-top: 50px;
  height: 100%;
  overflow: auto;

  .alert-info{
    color:white;
    background-color: #DB5461;
  }

  .sidebar{
    padding: 0px;
    min-height: 100%;
    height: auto;
    background-color : white;

    .links{
      list-style: none;
      padding: 0px;
      margin: 0px;

      li{
        cursor: pointer;
        display: block;

        a{
          text-decoration: none;
          display: block;
          color:black;
          font-size: 16px;
          padding: 20px;
        }

        :hover{
          background-color: $red;
          color:black;
        }

        &.active{
          background-color: $red;
          color:white;
        }
      }
    }
  }


  .content{
    padding-left: 14px;
    height: 500px;

    .page-header{
      margin: 0px;
    }

    .requests table,
    .users table{
      .image-holder{
        width: 50px;
        height: 50px;
        overflow:hidden;
        img{
          width: 100%;
        }
      }
    }

    .requests{
      .request{
        .btn{
          width: 100px;

        }
      }
    }

    .sports{
      .form-group{
        input[type=checkbox] {
          height: 20px;
          width: 20px;
          margin-right: 10px;
        }

        input[type=checkbox], span{
          vertical-align: middle;
        }
      }
    }
  }
}